
body {
    font-size:15px;
    font-family: sans-serif;
}
form {
    background-color:#213b50; 
    width:25%;
    height:auto;
    padding:1em;
    color:white;
}
input, select, textarea {
    background-color:#2b4a64;
    border:0;
    color:white;
}

input:hover {
    border-style: solid;
    border-width:1px;
    border-color: white;
    background-color:#4e708c;
}
input#send {
    background-color:#1ac056;
    font-size:1.2em;
    font-weight:500;
    text-align:center;
    width:auto;
    height:2em;
    padding:0.3em;
    text-transform:uppercase;
}