$warning: #8A2129;
$font-color: #021C11;
$background-color: #053B26;
$golden: #B0872C;
$section-color: #D9D9D7;
$main-font: "Slabo 27px";
$header-font: "Marck Script";
$neutral: #fff;
$other-section: #C2CBA5;