@import "zmienne";

@mixin section {
    margin-left: 0 auto;
    margin-right: 0 auto;
    background-color: $section-color;
}

body {
    background-color: $background-color;
    font-size: 15px;
    color: $font-color;
    font-family: $main-font;
    box-sizing: border-box;
}

section#header {
    div#header-image {
        background-image: url(../img/header.png);
        width: auto;
        height: 50vh;
        background-position: center;
        background-size: cover;
    }
    div#header-text {
        font-family: $header-font;
        color: $warning;
        height: 20vh;
        width: 100%;
        h1 {
            display: block;
            padding-top: 1em;
            font-size: 6em;
            font-weight: 400;
        }
        h3 {
            display: inline-block;
            padding-left: 0.5em;
            padding-right: 0.5em;
            transition: 6s;
            &:hover {
                color: $golden;
                font-size: 2em;
                font-family: "Marck Script";
            }
            .fa-star {
                color: $golden;
            }
            
        }
    }
}

nav {
    height: 10vh;
    padding: 1em;
    background-color: $golden;
    ul {
        li {
            list-style: none;
            display: inline;
            font-family: "Kavivanar", cursive;
        }
    }
}