@import "zmienne";
@mixin background {
    background-position: center;
    background-size: cover;
}

body {

    background-color: $background-color;
    font-size: 17px;
    color: $font-color;
    font-family: $main-font;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

/* Header */

section#header {
    div#header-image {
        background-image: url(../img/header.png);
        width: auto;
        height: 50vh;
        @include background;
    }
    div#header-text {
        font-family: $header-font;
        color: $neutral;
        height: 20vh;
        width: 100%;
        padding-left: 2em;
        h1 {
            padding-top: 1em;
            font-size: 6em;
            font-weight: 400;
        }
        h3 {
            display: inline-block;
            padding-left: 0.5em;
            padding-right: 0.5em;
            transition: 6s;
            &:hover {
                color: $golden;
                font-size: 2em;
                font-family: "Marck Script";
            }
            .fa {
                color: $golden;
            }

        }
    }
}

/* Nawigacja */

nav {
    height: 5vh;
    padding: 1em;
    background-image: url(../img/nav.png);
    @include background;
    transition: 4s;
    &:hover {
        background-image: url(../img/nav1.png);
    }
    ul {
        transform: translateY(-25%);
        li {
            list-style: none;
            display: inline;
            font-family: "Kavivanar", cursive;
            padding-left: 0.5em;
            padding-right: 0.5em;
            font-size: 1.2em;
        }
        a {
            color: $neutral;
            text-decoration: none;
            width: auto;
            height: 2em;
            transition: 2s;
            &:hover {
                text-decoration: none;
                color: $warning;
            }

        }
    }
}

/* O mnie */

section#about {
    div {
        background-color: $section-color;
        padding: 1em;
        div#tarot-card {
            height: 35vh;
            background-image: url(../img/tarot_01.jpg), url(../img/second.png);
            @include background;
            background-blend-mode: multiply;
            border-radius: 2em;
            transition: 3s;
            &:hover {
                background-image: url(../img/tarot-reading-1-1507749.jpg);

            }
            p {
                width: 100%;
                height: auto;
                opacity: 0;
                background-color: rgba(217, 253, 217, 0.7);
                transition: 2s;
                transform: translateY(25%);
                padding: 1em;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

/* Usługi */

section#work {
    div {
        background-color: $other-section;
        padding: 1em;
    }

    figure.card-image {
        img {
            width: 10em;
            height: 10em;
            border-radius: 50%;
            transition: 1.5s;
            &:hover {
                border-radius: 3em;
                cursor: pointer;
            }
        }
    }
}

/* Cennik */

section#prices {
    div {
        padding: 1em;
        background-color: $section-color;
    }
}

/* Inne*/

section#other {
    div.container {
        background-color: $other-section;
        padding: 1em;
        figure {
            img {
                width: 15em;
                height: 25em;
                border-radius: 1em;
            }
        }
        button {
            height: 3em;
            width: auto;
            padding: 0.5em;
            font-family: $header-font;
            background-color: $warning;
            color: $neutral;
            border: 0;
            border-radius: 1em;
        }
    }
}

/* Kontakt */

section#contact {
    div.container {
        background-image: url(../img/contact.png);
        @include background;
        color: $neutral;
    }

    h5 {
        padding-top: 1em;
    }

    input {
        height: 2em;
        width: 50%;
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 0.5em;
        border-style: inset;
        border-color: $warning;
        border-width: 2px;
        &:active {
            border: 0;
        }
        &:visited {
            border-radius: 0.5em;
            border-style: inset;
            border-color: $warning;
            border-width: 2px;
        }
    }
    input#message {
        border-radius: 1em;
        width: 50%;
        height: 5em;
    }
    input#submit {
        background-color: $golden;
        width: 6em;
        height: 2em;
        border: 0;
        font-family: $header-font;
        color: $neutral;
        transition: 2s;
        margin-bottom: 1em;
        &:hover {
            background-color: $warning;
            color: $golden;
        }
    }

}

/* Footer */