body {
    background-color:#98fb98;
    margin: 0;
    text-align:center;
    font-size:15px;
}

.kontener {
    width:400px;
    height:200px;
    display:inline-block;
    background-color:white;
    margin:1em;
    top:25%;
}

div#prod1 {
    background-image:url(product-1.jpg);
    background-size:cover;
}
div#prod2 {
    background-image:url(product-2.jpg);
    background-size:cover;
}
div#prod3 {
    background-image:url(product-3.jpg);
    background-size:cover;
}
div#prod4 {
    background-image:url(product-4.jpg);
    background-size:cover;
}

