body {
    background-color:#98fb98;
    margin:4em;
    text-align:center;
    font-size:15px;
    font-family:lato, sans-serif;
    padding:5em;
}

/* klasy */


.kontener {
    position: absolute;
    height:100%;
    width:100%;
    margin:2em;
    
}

.lista {
    list-style:none;
    display:inline-block;
    margin:1em;
    position:relative;
}

#prod1, #prod2, #prod3, #prod4 {
    background-color:orange;
    display:inline-block;
    height:20em;
    width:20em;
    margin:1em;
}

li:hover {
    opacity:0.7;
    transition:0.7s linear;
  
}

#prod1 {
    background-image:url(product-1.jpg);
    background-size:cover;
    background-position:center; 
}