$darkest-gray: #383C3D;
$dark-gray: #4D5354;
$light-gray: #F5F5F5;

$basic: #609B89;
$pro: #96BF34;
$premium: #F9AD0C;

$nav: #B3BF34;

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #fff;
    color: $darkest-gray;
    font-size: 10px;
}

p {
    font-size: 1.4em;
}

.landing-main-nav {
    background-color: $nav;
    height: 4em;
    padding: 1.2em 0;
    text-align: center;
    position: fixed;
    font-weight: 600;
    width: 100%;
    top: 0;
    font-size: 1.7em;
    z-index: 100;

    .main-nav {
        li {
            display: inline-block;
            margin: 0em 1em;

            a {
                color: $dark-gray;
            }
        }
    }
}

.price-cart {
    background-color: $light-gray;
    padding: 12em 0;

    .price-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        .cart {
            background-color: #fff;
            -webkit-box-shadow: 0px 4px 17px -5px rgba(0, 0, 0, 0.72);
            -moz-box-shadow: 0px 4px 17px -5px rgba(0, 0, 0, 0.72);
            box-shadow: 0px 4px 17px -5px rgba(0, 0, 0, 0.72);
            padding: 0em 2em 2em 2em;
            flex-basis: 15%;
            text-align: center;
            position: relative;
            transition: 1s;
            margin: 0 2em;
            perspective: 200px;

            &:hover {
                h2 {
                    background-color: $darkest-gray;
                }
            }

            h2 {
                position: absolute;
                width: 60%;
                z-index: 100;
                top: -.5em;
                left: 20%;
                height: 2em;
                padding: .5em;
                font-weight: 700;
                color: #fff;
            }

            h2[price='basic'] {
                background-color: $basic;
            }

            h2[price='premium'] {
                background-color: $premium;
            }

            h2[price='pro'] {
                background-color: $pro;
            }

            h3 {
                margin: 2.5em 0em 0em 0em;
                font-size: 3em;
                font-weight: 700;
                transition: 1s;

                &:hover {
                    [price='basic'] {
                        color: $basic;
                    }

                    [price='pro'] {
                        color: $pro;
                    }

                    [price='premium'] {
                        color: $premium;
                    }
                }

                span:not([price]) {
                    font-size: 17px;
                }
            }
        }

        p {
            font-size: 1.1em;
            margin-bottom: 2em;
        }

        .profit-list {
            width: 80%;
            list-style: none;
            text-align: left;

            li {
                margin-bottom: 2em;
                border-bottom: 0.5px solid $light-gray;
                font-size: 1.5em;
                padding-bottom: 1em;

            }
        }

        .button {
            display: inline-block;
            margin: 2em 0;
            padding: 1em 2em;
            border-radius: 2.5em;
            max-width: 60%;
            transition: 1.3s;
            font-size: 1.4em;
            color: #fff;
            text-decoration: none;

            [aria-hidden] {
                display: none;
            }

            &:hover {
                [aria-hidden] {
                    display: block;
                    font-size: 1.7em;
                }
            }
        }
    }
}

.cart:nth-of-type(1) {
    .profit-list {
        li:first-child {
            &::before {
                content: '✓';
                color: $dark-gray;
                font-size: 1.5em;
                margin-right: 1em;
            }
        }
    }

    li {
        &::before {
            content: '✗';
            color: $dark-gray;
            font-size: 2em;
            margin-right: 1em;

        }
    }

    .button {
        background-color: $basic;
    }
}

.cart:nth-of-type(2) {
    .profit-list {
        li:last-child {
            &::before {
                content: '✗';
                color: $dark-gray;
                font-size: 1.5em;
                margin-right: 1em;
            }
        }
    }

    li {
        &::before {
            content: '✓';
            color: $dark-gray;
            font-size: 2em;
            margin-right: 1em;

        }
    }

    .button {
        background-color: $pro;
    }
}

.cart:nth-of-type(3) {
    .profit-list {
        li {
            &::before {
                content: '✓';
                color: $dark-gray;
                font-size: 2em;
                margin-right: 1em;

            }
        }
    }

    .button {
        background-color: $premium;
    }
}

.learn-more {
    padding: 12em 0em;

    form {

        fieldset {
            margin: 2em 0em;
        }

        input,
        textarea {
            border: none;

            &:focus {
                border: 1px solid $basic;
                outline: none;
            }
        }

        [type='text'],
        [type='tel'],
        [type='email'] {
            width: 100%;
            padding: 1em;
            margin-bottom: 1em;
            background-color: $light-gray;

            &::placeholder {
                font-size: 1.2em;
                color: $dark-gray;
                font-family: 'Krub', sans-serif;
            }
        }

        textarea {
            width: 100%;
            background-color: $light-gray;
            height: 8em;
            padding: 1em;
            resize: none;

            &::placeholder {
                font-size: 1.2em;
                color: $dark-gray;
                font-family: 'Krub', sans-serif;
            }
        }

        [for*='want-'] {
            font-size: 1.3em;
        }

        [for*='want-'] {
            display: block;
        }

        [type='submit'] {
            margin-top: 2em;
            padding: 1em 2em;
            border-radius: 2.5em;
            transition: 1s;
            background-color: $pro;
            color: #fff;
            font-size: 1.6em;
            text-transform: uppercase;

            &:hover {
                background-color: $premium;
            }
        }

    }
}

.lists {
    padding: 10em;

    table {
        width: 100%;

        thead {
            font-size: 2em;
            background-color: $nav;

            th {
                padding: 1em;
                margin-bottom: 1em;
            }
        }

        tbody {
            font-size: 1.2em;

            td {
                padding: .7em;
            }

            p {
                font-size: 1.2em;
            }
        }
    }

    table:nth-of-type(1) {
        tbody {
            tr:first-child {
                td {
                    i {
                        display: inline-block;
                        height: 3em;
                        width: 3em;
                        padding: 1em;
                        color: #fff;
                        border-radius: 50%;
                        background-color: $nav;
                        transition: 1.4s;
                    }

                    &:hover {
                        i {
                            background-color: $basic;
                            transform: rotate3d(2, 2, 2, 360deg);
                        }
                    }
                }
            }

            tr:nth-child(2) {
                td {
                    &:hover {
                        span {
                            font-weight: 900;
                            color: $pro;
                        }
                    }
                }
            }

            tr:nth-child(3) {


                td {
                    &:hover {
                        border: 1px solid $dark-gray;

                        p {
                            background-color: $basic;
                        }
                    }
                }
            }
        }
    }

    table:nth-of-type(2) {
        tbody {
            tr:nth-child(2n-1) {
                td {
                    background-color: $light-gray;

                }
            }

            [href*='w3'] {
                color: $darkest-gray;

                &:hover {
                    text-decoration: none;
                }

                &::before {
                    content: '↪';
                    font-size: 1.3em;
                    color: $basic;
                    margin-right: 1em;
                }
            }

            [href*='fonts'] {
                font-weight: 900;
                color: $basic;
            }

            [title*='icon'] {
                &:hover {
                    color: $pro;
                    text-decoration: none;
                    text-transform: uppercase;
                }

                &::before {
                    content: '✶';
                    margin-right: 2em;
                }
            }

            [type='documentation'] {
                transition: 1s;
                display: inline-block;

                &:hover {
                    background-color: $basic;
                    transform: rotate3d(2, 2, 2, 360deg);
                }
            }


        }
    }

}