* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  color: #5E5E5E;
}

section:not([class="technology"]) {
  padding: 10em 0em 2em 0em;
}

section:not([class="technology"]) img {
  width: 50%;
  height: auto;
  background-color: #0092D6;
  border-radius: 50%;
}

section:not([class="technology"]) .section-h3 {
  font-size: 2.2em;
  color: #000;
  margin-bottom: 1.4em;
  font-weight: 800;
}

section:not([class="technology"]) .section-paragraph {
  font-size: 1.2em;
}

section:not([class="technology"]) h4 {
  font-size: 2em;
  font-weight: 800;
  color: #000;
}

.main-nav {
  background-color: rgba(0, 0, 0, 0.73);
  color: #fff;
  padding: 2em 0em;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.main-nav .nav-container {
  display: flex;
  max-width: 980px;
  align-items: center;
}

.main-nav .nav-container .brand-type {
  flex-basis: 23%;
}

.main-nav .nav-container .brand-type h2 {
  font-size: 1.6em;
  display: inline;
}

.main-nav .nav-container .main-nav-start {
  flex-basis: 77%;
  margin: 0px;
}

.main-nav .nav-container .main-nav-start .nav-item {
  display: inline-block;
  text-align: right;
  padding: 0 1.5em;
}

.main-nav .nav-container .main-nav-start .nav-item a {
  color: #fff;
  text-decoration: none;
}

.subscribe-form-header {
  background-image: url(../img/header-background-1.jpg);
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
  padding: 10em 0em 6em 0em;
  color: #fff;
}

.subscribe-form-header .content {
  padding: 0em 3em;
}

.subscribe-form-header .content h1 {
  font-size: 3.5em;
}

.subscribe-form-header .content h1 span {
  font-weight: 100;
  line-height: 1.5;
}

.subscribe-form-header .content p {
  font-size: 1em;
  line-height: 2.2;
  padding: 2em 0em;
}

.subscribe-form-header .content .content-list {
  padding: 0px;
}

.subscribe-form-header .content-list-item {
  list-style: none;
}

.subscribe-form-header .content-list-item::before {
  content: "\2713";
  color: red;
  font-size: 2em;
  display: inline-block;
  padding: 0em 1em 0em 0em;
}

.subscribe-form-header .subscribe-form .main-form-small {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.subscribe-form-header .form-header {
  background-color: rgba(19, 202, 141, 0.73);
  padding: 2.2em 1em;
}

.subscribe-form-header .subscribe-form .main-form-small .form-header h2 {
  font-size: 1.5em;
}

.subscribe-form-header .form-header h2 span {
  text-transform: uppercase;
}

.subscribe-form-header .subscribe-form .main-form-small fieldset {
  padding: 2.2em;
}

.subscribe-form-header .subscribe-form .main-form-small fieldset p {
  font-size: 1em;
  padding: 0px;
}

.subscribe-form-header .subscribe-form .main-form-small fieldset input {
  width: 100%;
  display: inline-block;
  margin: 1em 0em;
  height: 3.5em;
  border: none;
  padding: .7em;
}

.subscribe-form-header .subscribe-form .main-form-small fieldset input:not([type='submit']) {
  outline-offset: none;
}

.subscribe-form-header .subscribe-form .main-form-small fieldset input:not([type='submit']):focus {
  border: 1px solid #0092D6;
  outline-offset: none;
  outline: none;
}

.subscribe-form-header .subscribe-form .main-form-small fieldset [type='submit'] {
  background-color: #0092D6;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  transition: 1s;
}

.subscribe-form-header .subscribe-form .main-form-small fieldset [type='submit']:hover {
  background-color: #103D4F;
}

.technology {
  padding: 4em 0em;
}

.technology .picture-container {
  display: flex;
  justify-content: center;
}

.technology .picture-container img {
  width: auto;
  margin: 5px 0px;
  height: 90px;
  padding: 5px;
  transition: 1s;
  overflow: hidden;
  position: absolute;
  opacity: 0.5;
  border: 5px solid #fff;
  border-radius: 50%;
  filter: grayscale(100%);
}

.mask {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: #5E5E5E;
  transition: 1s;
  opacity: 0.8;
  perspective: 200px;
  border-radius: 50%;
}

.mask:hover>img {
  opacity: 0.9;
  filter: grayscale(0.2);
  transform: scale(1.5);
}

.about-design span {}

.about-design i {
  font-size: 1em;
  color: red;
  display: inline-block;
  margin-right: 1em;
}

.about-design .about-design-content h4 {
  font-size: 1.2em;
  display: inline-block;
  padding: 2em 0em;
  color: #000;
  transform: translateY(-0.8em);
}

.about-design .about-design-content-2,
.about-design .about-design-content-3 {
  padding: 6em 0em;
}

.about-design .about-design-content-3 ul {
  list-style: none;
  padding: 0px;
}

.about-design .about-design-content-3 ul li {
  margin-bottom: 1em;
}

.about-design .about-design-content-3 ul li::before {
  content: "\2713";
  color: #4DD19A;
  padding: 0px 1rem 0px 0rem;
}

.how-it-works {
  background-color: #0092D6;
  color: #fff;
}

.how-it-works h6 {
  display: inline;
  color: #1a1a1a;
  font-size: 1.4em;
  font-weight: 800;
}

.how-it-works video {
  width: 650px;
  height: auto;
}

@media (max-width: 768px) {
  .how-it-works video {
    width: 350px;
  }
}