body {
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    background-image: url(../img/blackboard.jpg), url(../img/wood.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

#ball,
#inner-ball,
#window,
p,
#klik {
    position: relative;
}

#inner-ball,
#window,
p {
    margin: 0 auto;
}

#ball {
    height: 30em;
    width: 30em;
    border-radius: 50%;
    background-image: url(../img/rain.jpg), url(../img/grad.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    margin-top: 5em;

}

#inner-ball {
    height: 15em;
    width: 15em;
    border-radius: 50%;
    background-color: black;
    border-color: dimgray;
    border-width: 5px;
    border-style: double;
    transform: translateY(25%);
}

#window {
    height: 10em;
    width: 10em;
    border-radius: 15%;
    background-color: darkslateblue;
    transform: translateY(20%);
    border:0;
}

#window > p {
    height: 50%;
    width: 100%;
    padding: 2em;
    color: darkgray;
    text-align: center;
    transform: translateY(10%);
    display: hidden;
}

#klik {
    display: block;
    width: auto;
    height: auto;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-radius: 1em;
    background: rgb(181, 189, 200);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b', GradientType=0);
    /* IE6-9 */
}