body {
    background-color: dimgray;
    margin: 0;
    text-align: center;
    font-size: 15px;
}

div#lake {
    background-image: url(2-jezioro.jpg);
    width: 40vw;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin:2vw;
}

div#lake > h1 {
    opacity: 0;
    color: white;
    font-family: georgia, serif;
    position: relative;
    background-color: black;
    position: relative;
    transform: translateY(160%);
    padding: 1vh;
}

div#lake > h1:hover {
    opacity: 0.6;
    width: 100%
}

div#lake:hover {
    outline-offset: 0.3em;
    outline-color: black;
    outline-style: solid;
    outline-width: 0.2em;
    transition outline-offset: 0.5s, linear;
}