#paint_nav {
    background-image: url(../images/portfolio/golden.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
}

#text-paint {
    margin: 0 auto;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#ghost-01, #ghost-02, #ghost-03, #zebrulik-01, #zebrulik-02, #zebrulik-03, #other-01, #other-02, #other-03 {
    background-size: cover;
    background-position: center;
    height: 40vh;
    margin: 0 auto;
    padding: 0;
}

#ghost-01{
        background-image: url(../images/portfolio/paint/ghost-01.jpg);
}
#ghost-02{
        background-image: url(../images/portfolio/paint/ghost-02.jpg);
}
#ghost-03{
        background-image: url(../images/portfolio/paint/ghost-03.jpg);
}