* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.section,
.photo-and-company {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    height: 100vh;
    background-image: url(../img/ababa.png);

}

.main-box {
    display: flex;
    margin: 0 auto;
    max-width: 1170px;
    padding: 150px 0em;

    .photo-and-company {
        flex-basis: 60%;
        background-image: url(../img/1603.jpg);

        .photo-company-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .company-name {
                background-color: #fff;
                margin: 50px 0px 0px 50px;
                width: 250px;
                -webkit-box-shadow: -2px 4px 12px -2px rgba(0, 0, 0, 0.53);
                -moz-box-shadow: -2px 4px 12px -2px rgba(0, 0, 0, 0.53);
                box-shadow: -2px 4px 12px -2px rgba(0, 0, 0, 0.53);

                h2 {
                    text-transform: uppercase;
                    padding: 10px;
                    text-align: center;
                    font-weight: 800;
                    color: #02d09d;
                }

                .underline {
                    background-color: #e45b55;
                    height: 10px;
                }
            }

            .image {

                img {
                    width: 85%;
                    height: auto;
                    margin: 50px 0px 0px 50px;
                    margin-bottom: 50px;
                }
            }


        }
    }

    .text {
        flex-basis: 40%;
        background-color: #fff;
        padding: 130px 35px;
        color: #3b3a3a;

        h1 {
            font-size: 1.5em;
            margin-bottom: 25px;
        }

        p {
            font-size: 1em;
            font-weight: 100;
            line-height: 2.2;
        }

        a {
            display: inline-block;
            background-color: #e45b55;
            color: #fff;
            padding: 10px 25px;
            border-radius: 20px;
            -webkit-box-shadow: -2px 4px 12px -2px rgba(0, 0, 0, 0.53);
            -moz-box-shadow: -2px 4px 12px -2px rgba(0, 0, 0, 0.53);
            box-shadow: -2px 4px 12px -2px rgba(0, 0, 0, 0.53);
            margin-top: 35px;
            transition: 1s;

            &:hover {
                background-color: transparent;
                border: 1px solid #e45b55;
                color: #e45b55;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 480px) {
    section {
        background-color: #e45b55;
        height: auto;
    }

    .main-box {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 1170px;
        padding: 50px 20px;

        .company-name {
            margin: 0 auto;
        }

        .photo-and-company {
            flex-basis: 100%;
            background-image: url(../img/1603.jpg);

            .photo-company-container {
                padding-top: 50px;

                .company-name {
                    margin: 0 auto;


                }

                .image {

                    img {
                        width: 100%;
                        height: auto;
                        margin: 30px 0px;
                    }
                }


            }
        }

        .text {
            flex-basis: 100%;
        }

    }
}